extends ../layouts/commons

block content
  #wrapper
    ul.sidebar.navbar-nav
      li.nav-item.active
        a.nav-link(href='/admin')
          i.fas.fa-fw.fa-tachometer-alt
          span Danh mục
      li.nav-item
        a.nav-link(href='/admin/charts')
          i.fas.fa-fw.fa-chart-area
          span Biểu đồ
      li.nav-item
        a.nav-link(href='/admin/hoa-don')
          i.fas.fa-fw.fa-shopping-cart
          span Hóa đơn
      li.nav-item
        a.nav-link(href='/admin/paid-bill')
          i.fas.fa-fw.fa-shopping-cart
          span Hóa đơn đã thanh toán
      li.nav-item
        a.nav-link(href='/admin/sale')
          i.fas.fa-fw.fa-shopping-cart
          span Khuyến mãi
      li.nav-item
        a.nav-link(href='/admin/products')
          i.fas.fa-fw.fa-table
          span Sản phẩm
      li.nav-item.active
        a.nav-link(href='/admin/users')
          i.fas.fa-user
          span Người dùng
    #content-wrapper
      .container-fluid
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Danh mục
          li.breadcrumb-item.active biểu đồ
        .card.mb-3
          .card-header
            i.fas.fa-chart-area(style="font-size: 30px;") TOP 5 SẢN PHẨM BÁN CHẠY NHẤT TRONG THÁNG
          .card-body
            .table-responsive
              table.table.table-bordered(width='100%', cellspacing='0')
                thead
                  tr
                    th(style="color: blue;") Image
                    th(style="color: blue;") ID Sản phẩm
                    th(style="color: blue;") Số lượng
                    th(style="color: blue;") Giá
                tbody              
                  - for(var i = 0; i < 5; i++)
                    tr
                      td
                        img(src='/' + imageHoaDons[i], alt="",width="56",height="90")
                      td #{idHoaDons[i]}
                      td #{soluongHoaDons[i]}
                      td #{pageInfo.calculatePrice(priceHoaDons[i])} 
          .card-footer.small.text-muted Updated yesterday at 11:59 PM
        .row
          .col-lg-8
            .card.mb-3
              .card-header
                i.fas.fa-chart-bar  Biểu đồ thu nhập 2018
              .card-body
                canvas#myBarChart(width='100%', height='50')
              .card-footer.small.text-muted Updated yesterday at 11:59 PM
          .col-lg-4
            .card.mb-3
              .card-header
                i.fas.fa-chart-pie  Biểu đồ chi tiết 2018
              .card-body
                canvas#myPieChart(width='100%', height='100')
              .card-footer.small.text-muted Updated yesterday at 11:59 PM
        .card.mb-3
          .card-header
            i.fas.fa-user  Tổng số lượng sản phẩm đã bán
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                thead
                  tr
                    th(style="color: blue;") Image
                    th(style="color: blue;") ID Sản phẩm
                    th(style="color: blue;") Ngày mua
                    th(style="color: blue;") Số lượng
                    th(style="color: blue;") Giá
                tbody
                  - for(var i = 0; i < idHoaDons.length; i++)
                    tr
                      td
                        img(src='/' + imageHoaDons[i], alt="",width="56",height="90")
                      td #{idHoaDons[i]}
                      td #{ngaymuaHoadons[i]}
                      td #{soluongHoaDons[i]}
                      td #{pageInfo.calculatePrice(priceHoaDons[i])}            
              .card-footer.small.text-muted Updated yesterday at 11:59 PM
      footer.sticky-footer
        .container.my-auto
          .copyright.text-center.my-auto
            span Website giamtieucaulinhkhue
  a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up
  #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Bạn có muốn đăng xuất?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body Chọn &quot;Đăng xuất&quot; để đăng xuất
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
          a.btn.btn-primary(href='/admin/login') Đăng xuất
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/vendor/chart.js/Chart.min.js')
  script(src='/vendor/datatables/jquery.dataTables.js')
  script(src='/vendor/datatables/dataTables.bootstrap4.js')
  script(src='/js/sb-admin.min.js')
  script(src='/js/demo/datatables-demo.js')
  script(src='/js/demo/chart-area-demo.js')
  script(src='/js/demo/chart-bar-demo.js')
  script(src='/js/demo/chart-pie-demo.js')
  