extends ../layouts/commons

block content
  #wrapper
    ul.sidebar.navbar-nav
      li.nav-item
        a.nav-link(href='/admin')
          i.fas.fa-fw.fa-tachometer-alt
          span Danh mục
      li.nav-item.active
        a.nav-link(href='/admin/charts')
          i.fas.fa-fw.fa-chart-area
          span Biểu đồ
      li.nav-item
        a.nav-link(href='/admin/hoa-don')
          i.fas.fa-fw.fa-shopping-cart
          span Hóa đơn
      li.nav-item
        a.nav-link(href='/admin/paid-bill')
          i.fas.fa-fw.fa-shopping-cart
          span Hóa đơn đã thanh toán
      li.nav-item
        a.nav-link(href='/admin/sale')
          i.fas.fa-fw.fa-shopping-cart
          span Khuyến mãi
      li.nav-item
        a.nav-link(href='/admin/products')
          i.fas.fa-fw.fa-table
          span Sản phẩm
      li.nav-item.active
        a.nav-link(href='/admin/users')
          i.fas.fa-user
          span Người dùng
    #content-wrapper
      .container-fluid
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Danh mục
          li.breadcrumb-item.active biểu đồ
        .card.mb-3
          .card-header
            i.fas.fa-chart-area biểu đồ
          .card-body
            canvas#myAreaChart(width='100%', height='30')
          .card-footer.small.text-muted Updated yesterday at 11:59 PM
        .row
          .col-lg-8
            .card.mb-3
              .card-header
                i.fas.fa-chart-bar  Biểu đồ thu nhập 2018
              .card-body
                canvas#myBarChart(width='100%', height='50')
              .card-footer.small.text-muted Updated yesterday at 11:59 PM
          .col-lg-4
            .card.mb-3
              .card-header
                i.fas.fa-chart-pie  Biểu đồ chi tiết 2018
              .card-body
                canvas#myPieChart(width='100%', height='100')
              .card-footer.small.text-muted Updated yesterday at 11:59 PM
        p.small.text-center.text-muted.my-5
      .clearfix(class='{{class}}')
        .top-table.clearfix
          .title-top-table(style='float:left;')
            span(style='border-radius: 100%;width: 10px;height: 10px;background-color: blue;display: inline-block; ')
            span(style='font-size: 20px; font-weight: bold;') Doanh s&#x1ED1; b&aacute;n h&agrave;ng
          .menu-button(style='float:right;')
            .btn-group.dropleft
              button.test(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              .dropdown-menu.dropdown-menu-right(style='padding: 0')
                .options-menu
                  button(data-toggle='modal', data-target='#myModal') T&ugrave;y ch&#x1ECD;n
                .options-menu
                  button(ng-click='exportData()') In b&aacute;o c&aacute;o
        strong Th&#x1EDD;i gian
        |  --
        |         N&abreve;m
        input(type='number', ng-model='yearBuy', width='60px',value=2018)
        button.btn.btn-primary(ng-click='loadData()')  Xem 
        #export
          table.table
            thead
              tr
                th(ng-show='id')
                  | M&atilde; h&oacute;a &dstrok;&#x1A1;n
                  .menu-button(style='float:right;')
                    .btn-group.dropleft
                      button.glyphicon.glyphicon-triangle-bottom(ng-class="{active : sortTable == 'id'}", ng-click='orderIdup()')
                      button.glyphicon.glyphicon-triangle-top(ng-class="{active : sortTable == '-id'}", ng-click='orderIddown()')
                th(ng-show='name')
                  | T&ecirc;n kh&aacute;ch h&agrave;ng
                  .menu-button(style='float:right;')
                    .btn-group.dropleft
                      button.glyphicon.glyphicon-triangle-bottom(ng-class="{active : sortTable == 'name'}", ng-click='orderNameup()')
                      button.glyphicon.glyphicon-triangle-top(ng-class="{active : sortTable == '-name'}", ng-click='orderNamedown()')
                th(ng-show='create')
                  | Ng&agrave;y mua
                  .menu-button(style='float:right;')
                    .btn-group.dropleft
                      button.glyphicon.glyphicon-triangle-bottom(ng-class="{active : sortTable == 'create'}", ng-click='orderCreateup()')
                      button.glyphicon.glyphicon-triangle-top(ng-class="{active : sortTable == '-create'}", ng-click='orderCreatedown()')
                th(ng-show='address')
                  | &Dstrok;&#x1ECB;a ch&#x1EC9;
                th(ng-show='detail')
                  | Chi ti&#x1EBF;t
            tbody
              each hoadon in hoadons
                tr(ng-repeat='order in listOrder | orderBy:sortTable ', ng-class-odd="'info'")
                  td(ng-show='id') #{hoadon.id}
                  td(ng-show='name') #{hoadon.nameUser}
                  td(ng-show='create') #{hoadon.created_at}
                  td(ng-show='address') #{hoadon.diachi}
                  td(ng-show='detail') #{hoadon.message}
        #myModal.modal.fade(role='dialog')
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') &times;
                h4.modal-title Hi&#x1EC7;n th&#x1ECB; c&#x1ED9;t
              .modal-body
                form
                  .form-check
                    label
                      input(type='checkbox', name='check', ng-model='allColumn', ng-click='showAll()')
                      span.label-text  All
                  hr
                  .form-check
                    label
                      input(type='checkbox', name='check', ng-model='id', ng-click='checkFalse()')
                      span.label-text  M&atilde; h&oacute;a &dstrok;&#x1A1;n
                  hr
                  .form-check
                    label
                      input(type='checkbox', name='check', ng-model='name', ng-click='checkFalse()')
                      span.label-text  T&ecirc;n kh&aacute;ch h&agrave;ng 
                  hr
                  .form-check
                    label
                      input(type='checkbox', name='check', ng-model='create', ng-click='checkFalse()')
                      span.label-text  Ng&agrave;y mua 
                  hr
                  .form-check
                    label
                      input(type='checkbox', name='check', ng-model='address', ng-click='checkFalse()')
                      span.label-text  &Dstrok;&#x1ECB;a ch&#x1EC9;
                  hr
                  .form-check
                    label
                      input(type='checkbox', name='check', ng-model='detail', ng-click='checkFalse()')
                      span.label-text Chi ti&#x1EBF;t
              .modal-footer
                button.btn.btn-success(type='button', data-dismiss='modal') OK
      footer.sticky-footer
        .container.my-auto
          .copyright.text-center.my-auto
            span Website giamtieucaulinhkhue
  a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up
  #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Ready to Leave?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body Select &quot;Logout&quot; below if you are ready to end your current session.
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
          a.btn.btn-primary(href='/admin/login') Logout
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/vendor/chart.js/Chart.min.js')
  script(src='/js/sb-admin.min.js')
  script(src='/js/demo/chart-area-demo.js')
  script(src='/js/demo/chart-bar-demo.js')
  script(src='/js/demo/chart-pie-demo.js')
