extends ../layouts/commons

block content
  #wrapper
    ul.sidebar.navbar-nav
      li.nav-item.active
        a.nav-link(href='/admin')
          i.fas.fa-fw.fa-tachometer-alt
          span Danh mục
      li.nav-item
        a.nav-link(href='/admin/charts')
          i.fas.fa-fw.fa-chart-area
          span Thống kê
      li.nav-item
        a.nav-link(href='/admin/hoa-don')
          i.fas.fa-fw.fa-shopping-cart
          span Hóa đơn
      li.nav-item
        a.nav-link(href='/admin/giao-hang')
          i.fas.fa-fw.fa-shopping-cart
          span Giao hàng
      li.nav-item
        a.nav-link(href='/admin/paid-bill')
          i.fas.fa-fw.fa-shopping-cart
          span Hóa đơn đã thanh toán
      li.nav-item
        a.nav-link(href='/admin/sale')
          i.fas.fa-fw.fa-shopping-cart
          span Khuyến mãi
      li.nav-item
        a.nav-link(href='/admin/products')
          i.fas.fa-fw.fa-table
          span Sản phẩm
      li.nav-item.active
        a.nav-link(href='/admin/users')
          i.fas.fa-user
          span Người dùng
    #content-wrapper
      .container-fluid
        ol.breadcrumb
          li.breadcrumb-item
            a(href='#') Danh mục
          li.breadcrumb-item.active biểu đồ
        .card.mb-3
          .card-header
            i.fas.fa-chart-area(style="font-size: 30px;") TOP 5 SẢN PHẨM BÁN CHẠY NHẤT TRONG THÁNG
          .card-body
            .table-responsive
              table.table.table-bordered(width='100%', cellspacing='0')
                thead
                  tr
                    th(style="color: blue;") Image
                    th(style="color: blue;") Tên Sản phẩm
                    th(style="color: blue;") Số lượng
                    th(style="color: blue;") Giá
                tbody              
                  - for(var i = 0; i < 5; i++)
                    tr
                      td
                        img(src='/' + imageHoaDons[i], alt="",width="56",height="90")
                      td #{idHoaDons[i]}
                      td #{soluongHoaDons[i]}
                      if(priceHoaDons[i] !== undefined)
                        td #{pageInfo.calculatePrice(priceHoaDons[i])}
                      else
                        td
          .card-footer.small.text-muted Updated yesterday at 11:59 PM
        .row
          .col-lg-12
            .card.mb-3
              .card-header.d-flex
                i.fas.fa-chart-bar  Biểu đồ thu nhập 2018
                select(size='1', name='links', onchange='window.location.href=this.value;',
                style="font-weight:bold;color:red;margin-left: 870px;padding-top:0px")
                  option(value='http://localhost:3000/admin/thong-ke/thang10') Tháng 10
                  option(value='http://localhost:3000/admin/thong-ke/thang11') Tháng 11
                  option(value='http://localhost:3000/admin/thong-ke/thang12') Tháng 12
                  option(value='http://localhost:3000/admin/charts') Tháng 1
                  option(value='http://localhost:3000/admin/thong-ke/thang2') Tháng 2
                  option(value='http://localhost:3000/admin/thong-ke/thang3') Tháng 3
                  option(value='http://localhost:3000/admin/thong-ke/thang4') Tháng 4
                  option(value='http://localhost:3000/admin/thong-ke/thang5') Tháng 5
                  option(value='http://localhost:3000/admin/thong-ke/thang6') Tháng 6
                  option(value='http://localhost:3000/admin/thong-ke/thang7') Tháng 7
                  option(value='http://localhost:3000/admin/thong-ke/thang8') Tháng 8
                  option(value='http://localhost:3000/admin/thong-ke/thang9') Tháng 9
                .menu-button(style='float:right;margin-left:10px;')
                .btn-group.dropleft
                  button.test(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  .dropdown-menu.dropdown-menu-right(style='padding: 0')
                    .options-menu
                      a(href='#',style="text-decoration: none;") T&ugrave;y ch&#x1ECD;n
                    .options-menu
                      a(href="/admin/thong-ke/thang-3",style="text-decoration: none;") In b&aacute;o c&aacute;o
              .card-body
                canvas#myBarChart10(width='100%', height='50')
              .card-footer.small.text-muted Updated yesterday at 11:59 PM         
        .card.mb-3
          .card-header
            i.fas.fa-user  Tổng số lượng sản phẩm đã bán
          .card-body
            .table-responsive
              table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                thead
                  tr
                    th(style="color: blue;") Image
                    th(style="color: blue;") Tên Sản phẩm
                    th(style="color: blue;") Ngày mua
                    th(style="color: blue;") Số lượng
                    th(style="color: blue;") Giá
                tbody
                  - for(var i = 0; i < idHoaDons.length; i++)
                    tr
                      td
                        img(src='/' + imageHoaDons[i], alt="",width="56",height="90")
                      td #{idHoaDons[i]}
                      td #{ngaymuaHoadons[i]}
                      td #{soluongHoaDons[i]}
                      td #{pageInfo.calculatePrice(priceHoaDons[i])}            
              .card-footer.small.text-muted Updated yesterday at 11:59 PM
      footer.sticky-footer
        .container.my-auto
          .copyright.text-center.my-auto
            span Website giamtieucaulinhkhue
  a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up
  #logoutModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel',aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Bạn có muốn đăng xuất?
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body Chọn &quot;Đăng xuất&quot; để đăng xuất
        .modal-footer
          button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
          a.btn.btn-primary(href='/admin/login') Đăng xuất
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/vendor/jquery-easing/jquery.easing.min.js')
  script(src='/vendor/chart.js/Chart.min.js')
  script(src='/vendor/datatables/jquery.dataTables.js')
  script(src='/vendor/datatables/dataTables.bootstrap4.js')
  script(src='/js/sb-admin.min.js')
  script(src='/js/demo/datatables-demo.js')
  script(src='/js/demo/chart-area-demo.js')
  script(src='/js/demo/chart-bar-demo10.js')
  script(src='/js/demo/chart-pie-demo.js')
  