html
	head
		link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
		crossorigin="anonymous")
		link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.8.1/css/all.css",
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf",
		crossorigin="anonymous")
		link(rel="stylesheet",type="text/css",href="/styles/custom.css")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

	body(style='background-image: url("/images/fresh-green-leaves-wallpaper-850.jpg");background-repeat: no-repeat; background-position: center;background-size: cover; width: 100%;height: 100%;background-attachment: fixed;padding-top:20px;')
		.container(style='background-color: white;width:67.96%;')
			div(id="sidebar_right",style="display: block; position: absolute; top: 20px; left: 1235px;")
				img(src="/images/sidebar-right.jpg",style="width: 175px; height: 600px;")
			div(id="sidebar_left",style="display: block; position: absolute; top: 20px; left: 60px;")
				img(src="/images/sidebar-left.jpg",style="width: 175px; height: 600px;")
			nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #22993d;')
				a.navbar-brand(href='/')
					img(src='/images/logo.jpg', width='100', height='40', alt='')
				a.navbar-brand(href='/',style="font-size:13;font-weight:bold;") TRANG CHỦ
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarSupportedContent.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a.nav-link(href='/gioi-thieu-san-pham',style="font-size:11;font-weight:bold;") GIỚI THIỆU SẢN PHẨM
								span.sr-only (current)
						li.nav-item.active
							a.nav-link(href='/chia-se-nguoi-benh',style="font-size:11;font-weight:bold;") CHIA SẺ NGƯỜI BỆNH
						li.nav-item.active
							a.nav-link(href='/products',style="font-size:11;font-weight:bold;") SẢN PHẨM
						li.nav-item.dropdown.active
							a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false',style="font-size:11;font-weight:bold;")
								| CẨM NANG
							.dropdown-menu(aria-labelledby='navbarDropdown',style="background-color: #22993d")
								a.dropdown-item(href='/cam-nang/benh-ly-xuat-huyet-da-day') Bệnh lý xuất huyết dạ dày
								a.dropdown-item(href='/cam-nang/benh-ly-giam-tieu-cau') Bệnh lý xuất huyết giảm tiểu cầu
								a.dropdown-item(href='/cam-nang/an-gi-kieng-gi') Ăn gì kiêng gì
								a.dropdown-item(href='/cam-nang/tin-suc-khoe') Tin tức sức khỏe
								a.dropdown-item(href='/cam-nang/tu-van-san-pham') Tư vấn sử dụng sản phẩm
						li.nav-item.active
							a.nav-link(href='/lien-he',style="font-size:11;font-weight:bold;") LIÊN HỆ
						li.nav-item.active.d-flex
							a.nav-link(href='#',style="font-size:small;font-weight:bold;")
							i(class="fas fa-shopping-cart",style="padding-top: 7;margin-right: 10;") 
							span(style="color: white;padding-top: 2; margin-left: -4;") (
							a(href="/products/view/cart",style="padding-top: 2; margin-left: -1;")= count
							span(style="color: white;padding-top: 2; margin-left: 0;") )
				.login.d-flex
				if !userId
					a(href='/users/create',style="font-size: 13;margin-right: 13;") Đăng kí
					a(href='http://localhost:3000/auth/login',style="font-size: 13;") Đăng nhập
				else
					a(style="font-size: 10;margin-right: 12;color:#9c3718")= user.name
					a(href='auth/logout',style="font-size: 13;") Đăng xuất
			.container(style="margin-right: 0;width: 360;padding-top: 10;")
				form.form-inline.my-2.my-lg-0(action="/products/search",method="GET",class="d-flex")
					input.form-control.mr-sm-2(type='text', placeholder='Search',name="q", aria-label='Search')
					button.btn.btn-outline-success.my-2.my-sm-0(style="background-color: #3e4540") Search
			block content
			footer.page-footer.font-small.teal.pt-4(style='background-color: #009688!important;')
				.container-fluid.text-center.text-md-left
					.row
						.col-md-6.mt-md-0.mt-3
							h5.text-uppercase.font-weight-bold THỰC PHẨM CHỨC NĂNG BLOODWELL
							p
								span(style='color:#0000ff;') Thực phẩm chức năng Bloodwell
								|  sản phẩm tinh túy từ thiên nhiên dành cho người bệnh xuất huyết giảm tiểu cầu - Chúng tôi là nhà phân phối độc quyền thực phẩm chức năng bloodwell tại Thành Phố Hồ Chí Minh mong muốn tạo một kênh đại lý trong Toàn Miền Nam và các tỉnh Miền Tây, miền Đông Nam Bộ để mang đến nhiều hơn nữa sản phẩm thiên nhiên cho những người bệnh chưa biết đến sản phẩm này. 
						hr.clearfix.w-100.d-md-none.pb-3
						.col-md-6.mb-md-0.mb-3
							h5.text-uppercase.font-weight-bold LIÊN HỆ
							p
								span Bloodwell cho người bị xuất huyết giảm tiểu cầu
							p(style='color:#bb192e;') Hotline: 0981574629 (Zalo)
							p Địa chỉ: Hà Nội
				.footer-copyright.text-center.py-3(style='background-color: #22993d;')
					| &copy; Website made by 
					a(href='https://www.facebook.com/tuananhdeptrai.95',style="color:#bc2564") Nguyen Tuan Anh
		script(type="text/javascript",src="/javascript/sidebar.js")
		script(type="text/javascript",src="/javascript/wow.js")
		