html
	head
		link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
		crossorigin="anonymous")
		link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.8.1/css/all.css",
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf",
		crossorigin="anonymous")
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

	body
		nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #22993d;')
			a.navbar-brand(href='/')
				img(src='/images/logo.jpg', width='100', height='40', alt='')
			a.navbar-brand(href='/',style="font-size:larger;font-weight:bold;") TRANG CHỦ
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href='#',style="font-size:large;font-weight:bold;") GIỚI THIỆU SẢN PHẨM
							span.sr-only (current)
					li.nav-item.active
						a.nav-link(href='#',style="font-size:large;font-weight:bold;") CHIA SẺ NGƯỜI BỆNH
					li.nav-item.active
						a.nav-link(href='/products',style="font-size:large;font-weight:bold;") SẢN PHẨM
					li.nav-item.dropdown.active
						a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false',style="font-size:large;font-weight:bold;")
							| CẨM NANG
						.dropdown-menu(aria-labelledby='navbarDropdown',style="background-color: #22993d")
							a.dropdown-item(href='#') Bệnh lý xuất huyết dạ dày
							a.dropdown-item(href='#') Bệnh lý xuất huyết giảm tiểu cầu
							a.dropdown-item(href='#') Ăn gì kiêng gì
							a.dropdown-item(href='#') Tin tức sức khỏe
							a.dropdown-item(href='#') Tư vấn sử dụng sản phẩm
					li.nav-item.active
						a.nav-link(href='#',style="font-size:large;font-weight:bold;") LIÊN HỆ
					li.nav-item.active.d-flex
						a.nav-link(href='#',style="font-size:large;font-weight:bold;")
						i(class="fas fa-shopping-cart",style="padding-top: 12;margin-right: 10;")
						span(style="color: white;padding-top: 8; margin-left: -4;") (
						a(href="/products/view/cart",style="color: white;padding-top: 8; margin-left: -1;")= count
						span(style="color: white;padding-top: 8; margin-left: 0;") )
			.login.d-flex
				a.nav-link(href='/users/create',style="font-size: 16;color: wheat;margin-right: -15;") Đăng kí
			if userId
				a.nav-link(href='/products',style="font-size: 16;color: wheat;") Đăng xuất
			else
				a.nav-link(href='http://localhost:3000/auth/login',style="font-size: 16;color: wheat;") Đăng nhập
		.container(style="margin-right: 0;width: 360;padding-top: 10;")
			form.form-inline.my-2.my-lg-0(action="/products/search",method="GET",class="d-flex")
				input.form-control.mr-sm-2(type='text', placeholder='Search',name="q", aria-label='Search')
				button.btn.btn-outline-success.my-2.my-sm-0(style="background-color: #3e4540") Search
	.container.pt-5
		block content
			
			