html
	head
		link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
		crossorigin="anonymous")
		link(rel="stylesheet",href="https://use.fontawesome.com/releases/v5.8.1/css/all.css",
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf",
		crossorigin="anonymous")
		link(rel="stylesheet",type="text/css",href="/styles/custom.css")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js',integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')

	body(style='background-image: url("/images/fresh-green-leaves-wallpaper-850.jpg");background-repeat: no-repeat; background-position: center;background-size: cover; width: 100%;height: 100%;background-attachment: fixed;padding-top:20px;')
		.container(style='background-color: white;width:67.96%;')
			div(id="sidebar_right",style="display: block; position: absolute; top: 20px; left: 1235px;")
				img(src="/images/sidebar-right.jpg",style="width: 175px; height: 600px;")
			div(id="sidebar_left",style="display: block; position: absolute; top: 20px; left: 60px;")
				img(src="/images/sidebar-left.jpg",style="width: 175px; height: 600px;")
			nav.navbar.navbar-expand-lg.navbar-dark(style='background-color: #22993d;')
				a.navbar-brand(href='/')
					img(src='/images/logo.jpg', width='100', height='40', alt='')
				a.navbar-brand(href='/',style="font-size:13;font-weight:bold;") TRANG CHỦ
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarSupportedContent.collapse.navbar-collapse
					ul.navbar-nav.mr-auto
						li.nav-item.active
							a.nav-link(href='#',style="font-size:11;font-weight:bold;") GIỚI THIỆU SẢN PHẨM
								span.sr-only (current)
						li.nav-item.active
							a.nav-link(href='#',style="font-size:11;font-weight:bold;") CHIA SẺ NGƯỜI BỆNH
						li.nav-item.active
							a.nav-link(href='/products',style="font-size:11;font-weight:bold;") SẢN PHẨM
						li.nav-item.dropdown.active
							a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false',style="font-size:11;font-weight:bold;")
								| CẨM NANG
							.dropdown-menu(aria-labelledby='navbarDropdown',style="background-color: #22993d")
								a.dropdown-item(href='#') Bệnh lý xuất huyết dạ dày
								a.dropdown-item(href='#') Bệnh lý xuất huyết giảm tiểu cầu
								a.dropdown-item(href='#') Ăn gì kiêng gì
								a.dropdown-item(href='#') Tin tức sức khỏe
								a.dropdown-item(href='#') Tư vấn sử dụng sản phẩm
						li.nav-item.active
							a.nav-link(href='#',style="font-size:11;font-weight:bold;") LIÊN HỆ
						li.nav-item.active.d-flex
							a.nav-link(href='#',style="font-size:small;font-weight:bold;")
							i(class="fas fa-shopping-cart",style="padding-top: 7;margin-right: 10;") 
							span(style="color: white;padding-top: 2; margin-left: -4;") (
							a(href="/products/view/cart",style="padding-top: 2; margin-left: -1;")= count
							span(style="color: white;padding-top: 2; margin-left: 0;") )
				.login.d-flex
					a(href='/users/create',style="font-size: 13;margin-right: 13;") Đăng kí
				if userId
					a(href='/auth/logout',style="font-size: 13;") Đăng xuất
				else
					a(href='http://localhost:3000/auth/login',style="font-size: 13;") Đăng nhập
			.container(style="margin-right: 0;width: 360;padding-top: 10;")
				form.form-inline.my-2.my-lg-0(action="/products/search",method="GET",class="d-flex")
					input.form-control.mr-sm-2(type='text', placeholder='Search',name="q", aria-label='Search')
					button.btn.btn-outline-success.my-2.my-sm-0(style="background-color: #3e4540") Search