extends ../layouts/common

block content
  .container.pt-5
    a(href="#",style="margin-left: 980px;color: red;font-weight:bold") Thanh Toán
    table.table(style="margin-top: 10px;")
      tr
        th(style="color: blue;") Image
        th(style="color: blue;") Name
        th(style="color: blue;") Quantity
        th(style="color: blue;") price
      each product in products
        tr
          td
            img(src=product.image, alt="",width="32")
          td=product.name
          td=amounts[product.id]
          td #{product.price} VND
      tr
        th(colspan="4",style="text-align:center;color: blue;") Tổng Giá: #{tongPrice} VND