extends ../layouts/common

block content
  .container.pt-5
    p(style="color:#bd0000;font-weight:bold") Chúc mừng bạn đã được khuyến mãi #{sales}%
    form(action="/view/cart",method="POST",style="width: 450;margin-bottom:100px")
      .table-responsive(style="width:969.28px")
        table.table(style="margin-top: 10px;")
          tr
            th(style="color: blue;") Image
            th(style="color: blue;") Tên sản phẩm
            th(style="color: blue;") ID sản phẩm
            th(style="color: blue;") Số lượng
            th(style="color: blue;") Giá
            th(style="color: blue;") Action
          each product in products
            tr
              td
                input(style="border:none",type='image', name='image', src='/' + product.image,width="32")
              td
                input(style="border:none",type='text', name='name[]', value=product.name)
              td
                input(style="border:none",type='text', name='idSP[]', value=product.id)
              td
                input(style="border:none",type='text', name='soluong', value=amounts[product.id])
              if (product.makm ===1)
                td
                  input(style="border:none",type='text', name='price[]', value=product.price * (1-sales1/100))
              if (product.makm ===2)
                td
                  input(style="border:none",type='text', name='price[]', value=product.price * (1-sales2/100))
              if (product.makm ===3)
                td
                  input(style="border:none",type='text', name='price[]', value=product.price * (1-sales3/100))
              if (product.makm ===4)
                td
                  input(style="border:none",type='text', name='price[]', value=product.price * (1-sales4/100))
              if (product.makm !==1 && product.makm !==2 && product.makm !==3 && product.makm !==4)
                td
                  input(style="border:none",type='text', name='price[]', value=product.price)
              td
                a(href='/cart/remove/' + product.id) Xóa
          tr
            th(colspan="6",style="text-align:center;color: blue;") Tổng Giá:
              if (status === 0)
                input(style="border:none",type='text', name='tonggia', value=tongPrice)
              else
                input(style="border:none",type='text', name='tonggia', value=tongPrice)
      p(style="color:red;font-weight:bold") *Để thanh toán vui lòng cung câp họ tên*
      .form-group
        label Họ tên
        input#exampleInputName1.form-control(tyle="text",name='nameUser', aria-describedby='nameHelp')
      .form-group
        label Điện thoại
        input#exampleInputPhone1.form-control(tyle="text",name='phone')
      .form-group
        label Địa chỉ
        input#exampleInputEmail1.form-control(tyle="text",name='diachi', aria-describedby='emailHelp')
      .form-group
        label Lời nhắn
        textarea#exampleInputMessage.form-control(tyle="text",name='message',style="height: 180;")
      .form-group
        label Mã xác nhận
        .d-flex
          input#exampleInputMa.form-control(tyle="text",name='maxacnhan', aria-describedby='numberHelp',style="width: 200")
          img(alt="Captcha",src="http://giamtieucau.com/CaptchaSecurityImages.php?width=100&height=28&characters=6")
      .form-check
      button.btn.btn-primary(type='submit') Thanh toán