extends ../layouts/common

block content
    h3(style="color:blue;font-weight:bold") Giảm Tiểu Cầu Linh Khuê
    if (status === 0)
        p#tit Giảm Giá Toàn Bộ Sản Phẩm #{sales}% &nbsp
            span#demo
    .container.pt-5
        .row
            each product in products
                .col-sm-3.cart-grid
                    .card.img(style="height:450px")
                        if (status === 0)
                            if (product.makm === 1)
                                div.saleoff_icon -#{sales1} %
                            if (product.makm === 1)
                                img.card-img-top.wow.tada(src='/' + product.image, alt='')
                                .card-body
                                    h5.card-title(style="font-weight:bold;font-size:15")= product.name
                                    div#price
                                        p.card-text(style="text-align:center;text-decoration: line-through;") #{pageInfo.calculatePrice(product.price)} vnđ
                                        p.card-text(style="color:red;font-weight:bold;") #{pageInfo.calculatePrice(product.price * (1-sales1/100))} vnđ
                                        if(product.quantity !== 0)
                                            p(style="color:blue") Còn hàng
                                        else
                                            p(style="color:blue") Hết hàng
                            if (product.makm === 2)
                                div.saleoff_icon -#{sales2} %
                            if (product.makm === 2)
                                img.card-img-top.wow.tada(src='/' + product.image, alt='')
                                .card-body
                                    h5.card-title(style="font-weight:bold;font-size:15")= product.name
                                    div#price
                                        p.card-text(style="text-align:center;text-decoration: line-through;") #{pageInfo.calculatePrice(product.price)} vnđ
                                        p.card-text(style="color:red;font-weight:bold;") #{pageInfo.calculatePrice(product.price * (1-sales2/100))} vnđ
                                        if(product.quantity !== 0)
                                            p(style="color:blue") Còn hàng
                                        else
                                            p(style="color:blue") Hết hàng
                            if (product.makm === 3)
                                div.saleoff_icon -#{sales3} %
                            if (product.makm === 3)
                                img.card-img-top.wow.tada(src='/' + product.image, alt='')
                                .card-body
                                    h5.card-title(style="font-weight:bold;font-size:15")= product.name
                                    div#price
                                        p.card-text(style="text-align:center;text-decoration: line-through;") #{pageInfo.calculatePrice(product.price)} vnđ
                                        p.card-text(style="color:red;font-weight:bold;") #{pageInfo.calculatePrice(product.price * (1-sales3/100))} vnđ
                                        if(product.quantity !== 0)
                                            p(style="color:blue") Còn hàng
                                        else
                                            p(style="color:blue") Hết hàng
                            if (product.makm === 4)
                                div.saleoff_icon -#{sales4} %
                            if (product.makm === 4)
                                img.card-img-top.wow.tada(src='/' + product.image, alt='')
                                .card-body
                                    h5.card-title(style="font-weight:bold;font-size:15")= product.name
                                    div#price
                                        p.card-text(style="text-align:center;text-decoration: line-through;") #{pageInfo.calculatePrice(product.price)} vnđ
                                        p.card-text(style="color:red;font-weight:bold;") #{pageInfo.calculatePrice(product.price * (1-sales4/100))} vnđ
                                        if(product.quantity !== 0)
                                            p(style="color:blue") Còn hàng
                                        else
                                            p(style="color:blue") Hết hàng
                            if (product.makm !== 4 && product.makm !== 3 && product.makm !== 2 && product.makm !== 1)
                                img.card-img-top.wow.tada(src='/' + product.image, alt='')
                                .card-body
                                    h5.card-title(style="font-weight:bold;font-size:15")= product.name
                                    div#price
                                        p.card-text(style="color:red;font-weight:bold;") #{pageInfo.calculatePrice(product.price)} vnđ
                        else 
                            img.card-img-top.wow.tada(src='/' + product.image, alt='')
                            .card-body
                                h5.card-title(style="font-weight:bold;font-size:15")= product.name
                                div#price
                                    p.card-text(style="color:red;font-weight:bold;") #{pageInfo.calculatePrice(product.price)} vnđ
                        .chitiet
                            a.button.btn.btn-success(href='/chi-tiet/'+ product.id) Chi tiết
                            if(product.quantity !== 0)
                                a.buttons.btn.btn-success(href='/cart/add/' + product.id) Đặt mua
    .container.pt-4
        .row
            if  (pages)
                nav
                    ul.pagination
                        if  (current == 1)
                            li.page-item.disabled
                                a.page-link(href="#") First
                        else
                            li.page-item
                                a.page-link(href="/products?page=1") First
                        -   var i = (Number(current) > 3 ? Number(current) - 2 : 1)
                        if  (i !== 1)
                            a.page-link(href="#") ...
                        -   for (; i <= (Number(current) + 3) && i <= pages; i++)
                            if  (i == curent)
                                li.page-item
                                    a.page-link(href="" + i)
                                        =i
                            else
                                li.page-item
                                    a.page-link(href="/products?page=" + i)
                                        =i
                        if  (i == Number(current) + 3 && i < pages)
                            li.page-item
                                a.page-link(href="#") ...
                        if  (current == pages)
                            li.page-item.disabled
                                a.page-link(href="#") Last
                        else
                            li.page-item
                                a.page-link(href="/products?page="+ pages) Last
    script(src='/javascript/timesale.js', type='text/javascript')